@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "mulish";
    src: url("./assets/fonts/Mulish-VariableFont_wght.ttf");
}

@font-face {
    font-family: "mulish italic";
    src: url("./assets/fonts/Mulish-Italic-VariableFont_wght.ttf");
}

:root{
    /* colors */
    --brand-dark: #001A83 ;
    --brand-default: #002DE3;
    --brand-dark-mode: #375FFF;
    --brand-light: #879FFF;
    --brand-background: #D2D5F9;

    --neutral-active : #0F182B;
    --neutral-dark : #152033;
    --neutral-body : #1B2B4B;
    --neutral-weak : #A4A4A4;
    --neutral-disabled : #ADB5BD;
    --neutral-line : #EDEDED;
    --neutral-off-white : #F7F7FC;
    --neutral-white : #FFFFFF;

    --accent-danger : #E94242;
    --accent-warning : #FDCF41;
    --accent-success : #2CC069;
    --accent-safe : #7BCBCF;
}



/* colors */

.gradient-1{
    background-color: linear-gradient(to right, #D2D5F9, #2C37E1);
}

.gradient-2{
    background-color: linear-gradient(to right, #EC9EFF, #5F2EEA);
}


.text-brand-dark{
    color: var(--brand-dark) ;
}

.text-brand-default{
    color: var(--brand-default)
}

.text-brand-dark-mode{
    color:var(--brand-dark-mode)
}

.text-brand-light{
    color:var(--brand-light);
}

.text-brand-background{
    color:var(--brand-background)
}


/* text utilites classes */
.heading-1{
    font-family: "mulish";
    font-weight: bold;
    font-size: 32px;
}

.heading-2{
    font-family: "mulish";
    font-weight: bold;
    font-size: 24px;
}

.subheading-1{
    font-family: "mulish";
    font-weight: 600;
    font-size: 18px;
}

.subheading-2{
    font-family: "mulish";
    font-weight: 500;
    font-size: 16px;
}

.body-text-1{
    font-family: "mulish";
    font-weight: 600;
    font-size: 14px;
}


.body-text-2{
    font-family: "mulish";
    font-weight: 400;
    font-size: 14px;
}

.metadata-1{
    font-family: "mulish";
    font-weight: 400;
    font-size: 12px;
}

.metadata-2{
    font-family: "mulish";
    font-weight: 400;
    font-size: 10px;
}

.metadata-3{
    font-family: "mulish";
    font-weight: 600;
    font-size: 10px;
}



html, body, #root{
    font-family: "mulish";
}