<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658828433326-j686qo8fr7hsd4ot1stldocudu2blpji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658828433326-j686qo8fr7hsd4ot1stldocudu2blpji</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>658828433326-0avsscp3mdp1g47bj1574u69hc5eo29d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjHv7SXqaqSWXd9zGpaACubgXo48mZcMw</string>
	<key>GCM_SENDER_ID</key>
	<string>658828433326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taichikarna.Synapse</string>
	<key>PROJECT_ID</key>
	<string>synapse-97444</string>
	<key>STORAGE_BUCKET</key>
	<string>synapse-97444.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658828433326:ios:12b28e7af39505d4f45a3f</string>
</dict>
</plist>